<form {{action "save" model on="submit"}}>
  <p>
    <label for="card-name">Name:</label>
      {{input name="name" value=model.name placeholder="Enter person's name"}}
  </p>
  <p>
    <label for="card-image">Image URL:</label>
      {{input name="image" value=model.image placeholder="Enter card's image URL"}}
  </p>
  <p><input class="tiny button" type="submit" value="Save"/></p>
</form>

<p><button class="tiny secondary" {{action "cancel" model on="click"}}>Cancel</button></p>
